<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

    <table>
        <tr>
            <td th:utext="${user.getId()}">ID</td>
            <td th:utext="*{user.getUsername()}">Name</td>
<!--            <td th:utext="${user.age}" class="changeable">Age</td>-->
        </tr>
    </table>
    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>

</body>
</html>